/* make block of css rules with maximum 20 items each */

ins[class*="adsbygoogle"] {
  display: none !important;
  visibility: hidden !important;
}

article[class*="--sponsored"]{
  display: none !important;
  visibility: hidden !important;
}

li[class*="ads-ad"],
li[class*="featured-ads"],
li[class*=" promoted-trend"],
li[class*=" linkedin-sponsor"]{
  display: none !important;
  visibility: hidden !important;
}

param[data*="pagead2.googlesyndication"],
param[value*="googleadservices.com/pagead/"],
param[value*="cdnx.tribalfusion"]{
  display: none !important;
  visibility: hidden !important;
}

embed[src*="2mdn.net"],
embed[src*="h2.msn.com/CIS"],
embed[flashvars*="fastclick.net"],
embed[src*="spe.atdmt.com"],
embed[src*="ads.contentabc.com/ads"]{
  display: none !important;
  visibility: hidden !important;
}

span[class*="adchoice"],
span[class*="ad-block"],
span[class*="ads-block"],
span[class*="sponsored-icon"],
span[class*="featured-ads"],
span[class*="-badge-ad"],
span[class*="--promoted"],
span[class*="-sponsored"],
span[title="Why these ads?"],
span[title="Why this ad?"]{
  display: none !important;
  visibility: hidden !important;
}

object[data*="s.yimg.com"],
object[data*="serving-sys"],
object[data*="2mdn.net/ads"],
object[data*="cdn.flashtalking"],
object[data*="cdn.adnxs.com"],
object[data*="pagead2.googlesyndication"],
object[data*="cdnx.tribalfusion"]{
  display: none !important;
  visibility: hidden !important;
}

div[class*="ad-block"],
div[class*="-sponsored-"],
div[id*="ad-slot-"],
div[class*="-ads-"],
div[data-ad*="adid"],
div[class*="promoAd"],
div[class*="commercial-unit"],
div[class*="AdContainer"],
div[class*="ads-creative"],
div[id*="right-ad"],
div[id*="left-ad"],
div[id*="AdSense"],
div[id*="_adSection"],
div[id*="_fullAd"],
div[class*="AdSense"],
div[class*="adspace-widget"],
div[class="adcredits"],
div[onclick*="MyAdvertisements"],
div[class*="ads-visurl"]{
  display: none !important;
  visibility: hidden !important;
}

div[class*="struq.com"],
div[class*="banner_ad"],
div[class="ad"],
div[class="ads"],
div[id="ad"],
div[id="ads"],
div[id*="adunit"],
div[id*="AdAuth"],
div[class="advertisement"],
div[class="advertisements"],
div[class="advertising"],
div[class="advertisings"],
div[class*="advertisement"],
div[class*="advertising"],
div[class*="chitikaAd"],
div[class*="adsbygoogle"],
div[class*="ads-by-google"],
div[class*="ad-by-google"],
div[class*="featured-ads"],
div[id*="google_ads_iframe"]{
  display: none !important;
  visibility: hidden !important;
}

div[id*="ads-container"],
div[class*="ads-block"],
div[class*="-ads-inner"],
div[class*="-content-sponsored"],
div[class*="-ad "],
div[class*="-ads "],
div[class="ad-wrapper"],
div[id="member-ads"],
div[id="section ads"],
div[class="member-ads"],
div[class="section ads"],
div[class="bannerAd"],
div[class="bannerAds"],
div[class="ads-bblc"],
div[class*="ads-bbl-"],
div[class="ad-leaderboard"],
div[class="ads-ad"],
div[class="card-ad-box"],
div[class*="-link-sponsored"],
div[class*="center ad "]{
  display: none !important;
  visibility: hidden !important;
}

div[class*=" promoted-account "],
div[id*="-admarker-"],
div[id*="adPartner"],
div[id*="-ad-container"],
div[id="sideAd"],
div[id="adchoices"],
div[id="ad-background"],
div[id="contentAd"],
div[id*="ad-fullbanner"],
div[id*="displayAd "],
div[id*="AdSlot_"],
div[id*="ad-skyscraper"],
div[data-item-thumb*="cdn.taboolasyndication"],
div[id*="google-ads-container"],
div[id*="ad_takeover"],
div[id*="ad_container"],
div[id*="ads_container"],
div[id*="ads_section"],
div[id*="member-ads"],
div[class*="ad-label"]{
  display: none !important;
  visibility: hidden !important;
}

div[class*="darla-ad"],
div[id*="bannerAd_"],
div[id="adSeedCall"],
div[class="top-ad"],
div[class="right-ad"],
div[class="bottom-ad"],
div[class="left-ad"],
div[class*="leftAd_"],
div[class*="rightAd_"],
div[class*="_adlabel"],
div[class*="_ad_inner"],
div[class*="ad_label"],
div[class*="ad-unit"],
div[class*="ads-unit"],
div[id*="-ad-"],
div[id*="-ads-"],
div[class*="-adset-"],
div[data-role*="adloader"],
div[data-annotation_id*="annotation_"],
div[id*="ad-slot"]{
  display: none !important;
  visibility: hidden !important;
}

a[href*="google.com/aclk"],
a[href*="adwords.google.com"],
a[href*="/yahoo/relevantads.html"],
a[href*="mgid.com"],
a[href*="ads.yahoo"],
a[href*="adforgames.com"],
a[href*="doubleclick.net"],
a[href*="advertise"],
a[href*="adnxs.com"],
a[href*="adsrvr.org"],
a[href*="adzerk.net"],
a[href*="union.ucweb"]{
  display: none !important;
  visibility: hidden !important;
}

a[href*="googleadservices"],
a[href*="google.com/adsense"],
a[href*="clicks.beap.bc.yahoo"],
a[href*="beap.gemini.yahoo.com"],
a[href*="adserver.adreactor"],
a[href*="pagead2.googlesyndication"],
a[href*="facebook.com/campaign/landing"],
a[href*="campaign/landing.php?placement"],
a[href*="ads.softonic.com"],
a[href*="softonicads.com/tracker"],
a[href*="mobileyield"],
a[href*="turn.com/r/click"],
a[href*="go.padsdel.com"],
a[href*="ads.yesadvertising"],
a[href*="buysellads"],
a[class*="-ad-attribution"],
a[href*="/AdFeedback"],
a[href*="altare.sitescoutadserver"],
a[href*="linkedin.com/ads/"],
a[href*="syndication.globaltraffico.com/adserve/"],
a[class*="adchoice"]{
  display: none !important;
  visibility: hidden !important;
}

a[class*="ads-"],
a[class*="AdChoices"],
a[class*="-promoted-badge "],
a[class="ads-bbll"],
a[href*="/adshows/"],
a[href*="/ads/"],
a[href*="chitika.com"],
a[href*="chitika.net"],
a[href*="ad-choices"],
a[href*="ads_preference"],
a[href*="ads_preferences"],
a[href*="main.exoclick.com/click"],
a[href*="fastclick.net"],
a[href*="/tag/sponsored"],
a[href*="bs.serving-sys"],
a[href*="page.kiosked.com/who-served-this-ad"],
a[href*="banners.sexypartners"],
a[href*="ads.digitalpoint"],
a[href*="engine.fl-ads"]{
  display: none !important;
  visibility: hidden !important;
}

iframe[src*="ads.yldmgrimg.net"],
iframe[src*="cdn.betrad.com"],
iframe[src*="chitika.net"],
iframe[src*="chitika.com"],
iframe[src*="cdn.adfront.org"],
iframe[class*="chitikaAd"],
iframe[src*="clkrev.com"],
iframe[src*="padstm.com"],
iframe[class*="chitikaAd"],
iframe[src*="fast.cam.demdex.net"],
iframe[src*="fast.gm.demdex.net"],
iframe[class*="adsbygoogle"],
iframe[src*="mediaplex.com"],
iframe[src*="adserver.yahoo.com"],
iframe[src*="s.yimg.com/rq"],
iframe[src*="l.yimg.com/rq"],
iframe[src*="bs.serving-sys"],
iframe[src*="servedby.flashtalking"],
iframe[src*="srcopenx.net"],
iframe[src*="4dsply.com"]{
  display: none !important;
  visibility: hidden !important;
}

iframe[src*="openx.net"],
iframe[id*="google_ads_frame"],
iframe[id*="google_ads_iframe"],
iframe[id*="ad-fetch-import"],
iframe[id*="ad-today-posts-"],
iframe[id*="adsonar_serve"],
iframe[name*="adsonar_serve"],
iframe[name*="google_ads_iframe"],
iframe[name*="google_ads_frame"],
iframe[src*="googleads.g.doubleclick"],
iframe[src*="linkedin.com/csp/ads"],
iframe[src*="ad.kiosked"],
iframe[src*="ad120m.com"],
iframe[src*="kliksaya.com"],
iframe[src*="ads.a-static"],
iframe[src*="cpmterra.com"],
iframe[src*="adnxs.com"],
iframe[src*="tpc.googlesyndication"],
iframe[src*="ads.as4x.tmcs.ticketmaster"],
iframe[src*="cdn.flashtalking"]{
  display: none !important;
  visibility: hidden !important;
}

iframe[src*="ads.qadservice"],
iframe[src*="ads.exoclick"],
iframe[src*="betaffs.com"],
iframe[src*="syndication.exoclick.com"],
iframe[src*="google.com/uds/afs"],
iframe[src*="78.138.126.253"],
iframe[src*="casalemedia"],
iframe[src*="rocketadserver"],
iframe[src*="vindicosuite.com"],
iframe[src*="smgadserver"],
iframe[src*="iframe.ad"],
iframe[src*="ads.cpxcenter"],
iframe[src*="ads.clicksor.com"],
iframe[src*="partnerads.ysm.yahoo"],
iframe[src*="cdn.cxense.com"],
iframe[src*="ad.anetwork"],
iframe[src*="ads.pubmatic"],
iframe[src*="cas.criteo"],
iframe[src*="linkedin.com/csp/ads"],
iframe[src*="syndication.globaltraffico.com/adserve"],
iframe[src*="syndication.traffichaus.com/adserve"],
iframe[src*="cdn.zeusclicks.com/ads/"]{
  display: none !important;
  visibility: hidden !important;
}

iframe[id*="ad-iframe"],
iframe[src*="//inb.genorithm."],
iframe[src*="an.z5x.net"],
iframe[src*="www.superfish."],
iframe[src*="static.re-markable00."],
iframe[src*="intext.linknavi1"],
iframe[src*="static.re-markable00"],
iframe[src*="a.visadd.com/script"],
iframe[src*="i.vizejs.info/"],
iframe[src*="altare.sitescoutadserver"],
iframe[src*="ads.trafficjunky.net/ads"],
iframe[src*="ads.adsrvmedia.net"],
iframe[src*="bcp.crwdcntrl.net"],
iframe[src*="syndication.cntrafficpro"],
iframe[src*="bdv.bidvertiser.com/bidvertiser"],
iframe[src*="banners.sexypartners"],
iframe[name*="BidVertiser_"],
iframe[src*="a.tribalfusion"],
iframe[src*="/adserve/"]{
  display: none !important;
  visibility: hidden !important;
}

img[src*="/ads/"],
img[src*="adnxs.com"],
img[src*="/viewads/"],
img[src*="aimatch.com"],
img[src*="adChoice/icon"],
img[src*="engine.fl-ads"],
img[src*="bs.serving-sys"],
img[src*="adforgames.com"],
img[src*="ads.a-static.com"],
img[src*=".banners.advidi"],
img[src*="doubleclick.net"],
img[src*="doubleclick.com"],
img[src*="cdn.cdntraffic.com/ads"],
img[src*="static.fl-ads.com/Advertisers"]{
  display: none !important;
  visibility: hidden !important;
}

img[src*="s.yimg.com/av"],
img[src*="pagead2.googlesyndication"],
img[src*="fbcdn-creative-a.akamaihd"],
img[src*="p.flite.com/p"],
img[src*="ad_choices_icon.png"],
img[class*="ad-label"],
img[src*="247realmedia"],
img[src*="chitika.net"],
img[src*="chitika.com"],
img[src*="exoclick.com/banners"],
img[src*="adzerk.net"],
img[src*="struq.com"],
img[src*="tradedoubler"],
img[src*="dotomi.com"],
img[src*="advertising.com"],
img[src*="padsdel.cdnads"],
img[src*="ad_choices.png"],
img[src*="buysellads"],
img[src*="adk2"],
img[src*="/viewad/"]{
  display: none !important;
  visibility: hidden !important;
}

/* Extra rules for Gmail only */
div[role="main"]>div[class="mq"]>table[class="ae6"],
div[role="main"]>div[class="mq ae5"]>table[class="ae6"],
div[class="nH hx"]>div[class="nH"]>div[class="nH PS"]>div[class="Zs"],
div[role="main"]>div[class="nH g id"]>div[class="nH"]>div[class="nH"]>div[class="mq"],
div[role="complementary"]>div[class="nH"]>div[class="nH"]>div[class="u5"]>div[class="oM"]{
  display: none !important;
  visibility: hidden !important;
}