<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Philip Tholus</string>
	<key>Builder Version</key>
	<string>10600.1.25</string>
	<key>CFBundleDisplayName</key>
	<string>AdBlock Lite</string>
	<key>CFBundleIdentifier</key>
	<string>com.add0n.adblock</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.8</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
		<key>Global Page</key>
		<string>lib/safari/safari.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>data/popup/popup.html</string>
				<key>Height</key>
				<real>418</real>
				<key>Identifier</key>
				<string>popup</string>
				<key>Width</key>
				<real>450</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>button</string>
				<key>Image</key>
				<string>data/icon16-mac.png</string>
				<key>Label</key>
				<string>Adblock Lite</string>
				<key>Popover</key>
				<string>popup</string>
				<key>Tool Tip</key>
				<string>Adblock Lite</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Block ads seamlessly on popular websites</string>
	<key>DeveloperIdentifier</key>
	<string>76829B2D75</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/philiptholus/adblock-lite/master/src/update.plist</string>
	<key>Website</key>
	<string>http://topaddon.com/firewall-lite.html</string>
</dict>
</plist>
